.word {
  display: inline-block;
  position: relative;
  clip-path: inset(0 0 0 0);
}
.word .top {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0 0 50% 0);
}
.word .bottom {
  display: inline-block;
  position: relative;
  clip-path: inset(50% 0 0 0);
}
[glitch-wrapper] {
  pointer-events: none;
}

/* Factions */
.slice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slice.top {
  clip-path: inset(0 0 49% 0);
}
.slice.bottom {
  clip-path: inset(49% 0 0 0);
}
.slice.top-third {
  clip-path: inset(0 0 66% 0);
}
.slice.middle-third {
  clip-path: inset(33% 0 33% 0);
}
.slice.bottom-third {
  clip-path: inset(66% 0 0 0);
}

/* Weapons */
.slice.top-left-third {
  clip-path: inset(0 66% 49% 0);
}
.slice.bottom-left-third {
  clip-path: inset(49% 66% 0 0);
}
.slice.top-middle-third {
  clip-path: inset(0 33% 49% 33%);
}
.slice.bottom-middle-third {
  clip-path: inset(49% 33% 0 33%);
}
.slice.top-right-third {
  clip-path: inset(0 0 49% 66%);
}
.slice.bottom-right-third {
  clip-path: inset(49% 0 0 66%);
}

/* Buttons */
.slice.top-left {
  clip-path: inset(0 49% 49% 0);
}
.slice.bottom-left {
  clip-path: inset(49% 49% 0 0);
}
.slice.top-right {
  clip-path: inset(0 0 49% 49%);
}
.slice.bottom-right {
  clip-path: inset(49% 0 0 49%);
}
